/* Contenedor del gráfico */
#expense-chart {
  padding: 20px;
  text-align: center;
}

/* Título del gráfico */
#expense-chart h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Gráfico */
#expense-chart-canvas {
  max-width: 100%;
  max-height: 400px; /* Ajusta según el espacio disponible */
  margin: 0 auto;
  display: block;
}

/* Lista de gastos */
#expense-list {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

#expense-list li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Formulario de gastos */
#expense-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

#expense-form input,
#expense-form select,
#expense-form textarea,
#expense-form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

#expense-form button {
  background-color: #0077cc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

#expense-form button:hover {
  background-color: #005fa3;
}

/* Total de gastos */
#total-expenses {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
}
